/* .category__image__title__container {
  height: 30vh;
} */
.category__image__title__container__bg__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55vh;
  width: 100wh;
  position: relative;
}
.category__image__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  font-weight: 700;
}
@media screen and (max-width: 567px) {
  .category__image__title {
    font-size: 30px;
  }
  .category__image__title__container__bg__image {
    height: 40vh;
  }
}

.unique__products__buttons__list__under__a__category {
  display: flex;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.unique__product__button__category {
  padding: 10px 20px;
  margin: 10px;
  /* flex-basis: 100px; */
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  background-color: rgba(220, 220, 220, 0.46);
}
.unique__product__button__category:hover {
  background-color: #2d5ea4;
  color: white;
}

.unique__product__individual__under__category {
  text-align: left;
  padding: 10px 0px;
}
.unique__product__individual__title {
  font-size: 32px;
  font-weight: 700;
  padding-left: 10px;
}
.unique__product__description__outer,
.individual__product__container__outer {
  padding: 9px;
}

.individual__product__container__outer:hover {
  box-shadow: 0 0 5px rgb(187, 183, 183);
  border-radius: 4px;
}

.unique__product__desription__container,
.individual__product__container {
  position: relative;
  text-align: left;
  height: min-content;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .individual__product__container {
    height: min-content;
  }
}
.unique__product__description__image,
.individual__product__image {
  border-radius: 4px;

  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

@media screen and (max-width: 567px) {
  .unique__product__individual__title {
    font-size: 20px;
  }
}
.unique__product__description__text {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.unique__product__description__shop__all__button {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 15px;
}
.individual__product__name {
  padding: 5px 0;
  font-weight: 700;
}
.individual__product__price {
  font-weight: 300;
}
.list__end__shop__all__button__container {
  padding: 10px 20px;
  text-align: center;
}
.list__end__shop__all__button {
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  background: #2d5ea4;
  color: white;
  border-radius: 4px;
  /* margin: 10px 20px; */
}
@media screen and (max-width: 567px) {
  .list__end__shop__all__button {
    width: 100%;
  }
}

/* for unloaded product image */
.unloaded_image_div {
  width: 100%;
  height: 400px;
  color: rgba(0, 0, 0, 0.398);
  font-weight: 200;
  animation: myanimation 2s infinite;
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 4px;
  /* bottom: 50%; */
}
@media screen and (max-width: 567px) {
  .unloaded_image_div {
    height: 220px;
  }
}

@keyframes myanimation {
  0% {
    background-color: #ebf1f1;
  }
  25% {
    background-color: #ebf1f1bf;
  }
  50% {
    background-color: #ebf1f180;
  }
  75% {
    background-color: #ebf1f1bf;
  }
  100% {
    background-color: #ebf1f1;
  }
}
