.navbar__brand {
  font-size: 20px !important;
  font-weight: 900 !important;
  letter-spacing: 1px;
  /* padding: 0 20px; */
  /* font-family: "Outfit"; */
}
.header__spacer {
  height: 60px;
}
/* .the__navbar:hover {
    background-color: #fff;
  } */
/* .hamburger__toogler {
    color: white !important;
    border-color: #fff;
  } */
.the__navbar {
  padding: 10px 10px 10px 15px !important;
}
.the__navbar__container {
  /* margin-bottom: 60px; */
  position: fixed;
  z-index: 1;
  width: 100%;
  /* margin-bottom: 50px !important; */
}
.nav__links {
  margin: 0 38.3% !important;
}
.nav__link {
  padding: 0 15px !important;
  color: black !important;
  font-weight: 600;
}
.nav__icon {
  color: black;
}
/* 1) FOR GIVING A SPACE TO THE NAVBAR */
/* .navbar:hover{
    background-color: white;
  }
  .
  .nav-link:hover, .hamburger:hover{
    color: black !important;
  } */
/* 
  .headerIcon {
    color: white;
  }
  .nav-link,
  .hamburger {
    color: white;
  } */

/* .nav-linkWhenScrolledAndHovered {
    color: black !important;
  }
  
  /* CHANGING THE BACKGROUND COLOR WHEN SCROLLED  */
/* .navbarColorWhenScrolledAndHovered {
    background-color: white !important;
  } */

/* .navbarColorWhenNotScrolled {
    background-color: transparent !important;
  } */
/* .
  .navbarWithSearchbar {
    position: relative;
  } */

/* 👇Property of search bar */
.search__bar {
  background-color: white !important;
}
.searching__bar {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 10%;
}
.close__icon__container {
  text-align: right;
}
.close__icon {
  margin-right: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.search__icon {
  cursor: pointer;
}
.search__bar__content {
  height: 100vh;
  background-color: white;
  border: none;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.the__header__icon {
  /* width: 4vw; */
  padding: 0 10px;
}
.hamburger__icon {
  color: black;
}
@media screen and (max-width: 567px) {
  .navbar__brand {
    /* width: 20vw; */
  }
  .the__header__icon {
    font-size: small;
    /* width: 1vw; */
    padding: 0;
  }
}
.the__cart__header {
}

.no__of__cart__items {
  width: 20px;
  height: 10.735px;
  background: #154c9a;
  position: absolute;
  top: 20%;
  right: 0.6%;
  color: white;
  text-align: center;
}
.no__of__cart__items::before {
  content: "";
  position: absolute;
  top: -7.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 7.8675px solid #154c9a;
}
.no__of__cart__items::after {
  content: "";
  position: absolute;
  bottom: -7.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 7.8675px solid #154c9a;
}
.the__cart__number {
  color: white;
  position: absolute;
  z-index: 1;
  margin-bottom: 10px;
  font-size: 12px;
  left: 1%;
  right: 3%;
  font-weight: 700;
}
